@import '../../constant/color.scss';
@import '../../constant/font.scss';
.ekasBarcodeWrapper {
    font-family: $commontTextFamily;
    font-size: $fs_1__2;
    border-bottom: 0.1rem solid $deepGray;
    padding-left: 1rem;
}

.ekasBarcodeCheckbox {
    display: inline-block;
    vertical-align: top;
    margin-top: 2rem;
    padding-left: 1rem;
}

.ekasBarcodeCheckbox label {
    padding-left: 0.5rem;
    cursor: pointer;
}

.ekasBarcodeCheckbox input {
    cursor: pointer;
}

.ekasBarcodeTable {
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.ekasBarcodeTableTitle {
    width: 15rem;
    padding-bottom: 1rem;
}

.ekasBarcodeTableTitleLong {
    width: 20rem;
    padding-bottom: 1rem;
}

.ekasBarcodeTableIcon {
    display: inline-block;
    color: $deepGray;
    margin-left: 1rem;
    cursor: pointer;
}

.ekasBarcodeTableItemWrapper {
    padding-right: 1rem;
}

.ekasBarcodeTableSelect {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
    text-indent: 0.5rem;
}

.ekasBarcodeInput {
    height: 3rem;
    line-height: 3rem;
    box-sizing: border-box;
    margin-left: 1rem;
    width: 5rem;
}