@import '../../constant/color.scss';
@import '../../constant/font.scss';
.ekasDateWrapper {
    font-family: $commontTextFamily;
    font-size: $fs_1__2;
    border-bottom: 0.1rem solid $deepGray;
    padding-left: 1rem;
}

.ekasDateCheckbox {
    display: inline-block;
    vertical-align: top;
    margin-top: 2rem;
    padding-left: 1rem;
}

.ekasDateCheckbox label {
    padding-left: 0.5rem;
    cursor: pointer;
}

.ekasDateCheckbox input {
    cursor: pointer;
}

.ekasDateTable {
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.ekasDateTableTitle {
    width: 15rem;
    padding-bottom: 1rem;
}

.ekasDateTableTitleLong {
    width: 20rem;
    padding-bottom: 1rem;
}

.ekasDateTableIcon {
    display: inline-block;
    color: $deepGray;
    margin-left: 1rem;
    cursor: pointer;
}

.ekasDateTableItemWrapper {
    padding-right: 1rem;
}

.ekasDateTableSelect {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
    text-indent: 0.5rem;
}

.ekasDateInput {
    height: 3rem;
    line-height: 3rem;
    box-sizing: border-box;
    margin-left: 1rem;
    width: 5rem;
}