@import '../../constant/color.scss';
@import '../../constant/font.scss';
.ekasGridMultiWrapper {
    font-family: $commontTextFamily;
    font-size: $fs_1__2;
    border-bottom: 0.1rem solid $deepGray;
    padding-left: 1rem;
}

.ekasGridMultiCheckbox {
    margin-bottom: 1rem;
}

.ekasGridMultiCheckboxWrapper {
    display: inline-block;
    vertical-align: top;
    margin-top: 2rem;
    padding-left: 1rem;
}

.ekasGridMultiCheckbox label {
    padding-left: 0.5rem;
    cursor: pointer;
}

.ekasGridMultiCheckbox input {
    cursor: pointer;
}

.ekasGridMultiTable {
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

.ekasGridMultiTableTitle {
    width: 15rem;
    padding-bottom: 1rem;
}

.ekasGridMultiTableTitleLong {
    width: 20rem;
    padding-bottom: 1rem;
}

.ekasGridMultiTableIcon {
    display: inline-block;
    color: $deepGray;
    margin-left: 1rem;
    cursor: pointer;
}

.ekasGridMultiTableItemWrapper {
    padding-right: 1rem;
}

.ekasGridMultiTableSelect {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    cursor: pointer;
    text-indent: 0.5rem;
}

.ekasGridMultiInput {
    height: 3rem;
    line-height: 3rem;
    box-sizing: border-box;
    margin-left: 1rem;
    width: 5rem;
}