@import '../constant/font.scss';
@import '../constant/color.scss';

.ekasResuableListBarTitle {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid $lightGray;
  line-height: 5rem;
}
.ekasResuableListBarTitle span {
  font-size: $fs_1__5;
  margin-left: 1rem;
  color: $textCommonGray;
  font-family: $commontTextFamily;
}
.ekasResuableListItem {
  box-sizing: border-box;
  border: 2px solid transparent;
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid $lightGray;
  line-height: 4rem;
  cursor: pointer;
  position: relative;
}
.ekasResuableListItemCheckBoxWrapper {
  width: 5.5rem;
  padding-left: 1rem;
  padding-right: 3rem;
  display: inline-block;
}
.ekasResuableListItemIcon {
  margin-right: 1rem;
  color: $primaryHoverColor;
  font-size: 1.8rem;
  vertical-align: middle;
}
.ekasResuableListItemCheckBox {
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid $middleGray;
  display: inline-block;
  vertical-align: middle;
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
}
.ekasResuableListSettingWrapper {
  height: 2.4rem;
  width: 1rem;
  float: right;
  margin-top: 0.8rem;
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
}
.ekasResuableListSettingDot {
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.2rem;
  border-radius: 50%;
  background-color: $textCommonGray;
}
.ekasResuableListItem:hover {
  background-color: $lightGray;
}
.ekasResuableListItem:hover .ekasResuableListItemCheckBox {
  opacity: 1;
  visibility: visible;
}
.ekasResuableListItem:hover .ekasResuableListSettingWrapper {
  opacity: 1;
  visibility: visible;
}
.ekasResuableMenuItemWrapper {
  width: 95%;
  border: 1px solid rgba(18, 24, 33, 0.12);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  padding-bottom: 2rem;
  margin: 2rem 2rem 0 3rem;
}
.ekasResuableMenuBtnWrapper {
  width: 100%;
  padding: 3rem;
}
.ekasResuableMenuAddBtn {
  cursor: pointer;
  width: 11rem;
  height: 3.9rem;
  background-color: $primaryColor;
  border: none;
  color: $white;
  transition: 0.2s linear;
  margin-right: 2rem;
  outline: none;
}
.ekasResuableMenuAddBtn:hover {
  background-color: $primaryHoverColor;
}
.ekasResuableMenuSideBarIcon {
  margin-right: 1rem;
}

// when drag start add new style
.ekasResuableListItem_DragStart {
  transform: translateX(-9999px);
  transition: transform 0.1s;
}
.ekasResuableListItem_enterDropArea {
  height: 2rem !important;
  border: 2px dashed $primaryColor;
}

.ekasResuableListDropArea {
  box-sizing: border-box;
  width: 100%;
  height: 0.7rem;
  z-index: 2;
  transition: 0.1s linear;
}
.ekasResuableListItem_select {
  box-sizing: border-box;
  border: 2px dashed $primaryColor;
  transition: 0.2s linear;
}
