//primary color
$primaryColor: #8fc5e5;
$primaryHoverColor: #3a5d80;
$primaryDeeperColor: #123a61;
//secondary color
$secondaryColor: #cf934d;
//danger color
$dangerColor: #d36559;
//success color
$successColor: #39a63a;
$successSecondaryColor: #2e8a30;
//common color
$white: #ffffff;
$lightGray: #f5f5f0;
$middleGray: #c7c7c4;
$deepGray: #a8a8a8;
$textCommonGray: #646464;
$lightBlue: #dde9f5;
$seaBlue: #e3f1f8;
//title icon color
$folder:#e7b535;
$page:#80b2e3;
$block:#0b664d;
$loop:#1386b0;
$condition:#fd9337;
$script:#8b240b;
$pageBreak: #5493d0;
$directive: #396cfb;
$stop:#d73817;
$email:#1aa4d7;
$chart:#0d6a8b;
$telephony:#fd7b54;