//all the text font size are in this scss
$fs_13: 13rem;
$fs_8: 8rem;
$fs_3__9: 3.9rem;
$fs_3__5: 3.5rem;
$fs_2__8: 2.8rem;
$fs_2: 2rem;
$fs_1__8: 1.8rem;
$fs_1__5: 1.5rem;
$fs_1__4: 1.4rem;
$fs_1__2: 1.2rem;
$fs_1: 1rem;
//all the font family are in this scss
$commontTextFamily: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;
$titleFamily: poppins-semibold,
poppins,
sans-serif;